<link rel="stylesheet" type="text/css" href="css/style.css" />
<section>
  <h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button class="mybtn"  type="submit">Sign Out</button>
</form>  

</section>
